<div class="container" ng-controller="carFormController as carFormCtrl" ng-init="car = carFormCtrl.car">
    <div class="input-field">
      <input placeholder="" id="search" type="text" class="validate" ng-model="car.manufacturer">
      <label for="search">Manufacturer</label>
    </div>
    <div class="input-field">
      <input placeholder="" id="search" type="text" class="validate" ng-model="car.model">
      <label for="search">Model</label>
    </div>
    <div class="input-field">
      <input placeholder="" id="search" type="text" class="validate" ng-model="car.price">
      <label for="search">Price</label>
    </div>
    <div class="input-field">
      <input placeholder="" id="search" type="text" class="validate" ng-model="car.wiki">
      <label for="search">Wiki</label>
    </div>
    <div class="input-field">
      <input placeholder="" id="search" type="text" class="validate" ng-model="car.img">
      <label for="search">Image</label>
    </div>

    <a class="waves-effect waves-light btn s3 col">Save</a>

  </div>

  