<div ng-controller="carListController as carListCtrl" class="container" >
  
  <div class="row">
    <div class="input-field col s12 l6 offset-l6">
      <input placeholder="" id="search" type="text" class="validate" ng-model="search">
      <label for="search">Search</label>
    </div>
  </div>
  
  <div class="row z-depth-1">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a ui-sref=".cards" ng-click="carListCtrl.go('.cards');" id="bt_cards">Cards</a></li>
        <li class="tab col s3"><a ui-sref=".table" ng-click="carListCtrl.go('.table');" id="bt_table">Table</a></li>
      </ul>
    </div>
  </div>
  <ui-view ></ui-view>
  
  <div class="fixed-action-btn" style="bottom: 60px; right: 30px;">
    <a class="btn-floating btn-large waves-effect waves-light red" ui-sref="cars.add">
      <i class="material-icons">add</i>
    </a>
  </div>
</div>